<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="jp0720">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.082515 -1.2696E-06 -0.062525"
        rpy="0 0 0" />
      <mass
        value="0.090862" />
      <inertia
        ixx="0.0012533"
        ixy="4.5377E-08"
        ixz="1.4694E-05"
        iyy="0.0019113"
        iyz="4.0125E-09"
        izz="0.0014822" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link
    name="L_cam_link">
    <inertial>
      <origin
        xyz="0.0076415 0.010242 0.0063368"
        rpy="0 0 0" />
      <mass
        value="0.030572" />
      <inertia
        ixx="5.8565E-06"
        ixy="-6.804E-07"
        ixz="-3.8299E-08"
        iyy="1.6944E-05"
        iyz="-5.108E-08"
        izz="2.1938E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_cam_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_cam_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint 
    name="imu_joint"
    type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0 0.01"/>
  </joint>
  <joint
    name="L_cam_j"
    type="revolute">
    <origin
      xyz="0.1066 0.0575 -0.10105"
      rpy="-1.5708 -0.9905 0" />
    <parent
      link="base_link" />
    <child
      link="L_cam_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_cam_link">
    <inertial>
      <origin
        xyz="0.0076415 0.010242 -0.0063367"
        rpy="0 0 0" />
      <mass
        value="0.030572" />
      <inertia
        ixx="5.8563E-06"
        ixy="-6.81E-07"
        ixz="3.8137E-08"
        iyy="1.6943E-05"
        iyz="5.1104E-08"
        izz="2.1937E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_cam_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_cam_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_cam_j"
    type="revolute">
    <origin
      xyz="0.1066 -0.0575 -0.10105"
      rpy="-1.5708 -0.9905 0" />
    <parent
      link="base_link" />
    <child
      link="R_cam_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_leg3_link">
    <inertial>
      <origin
        xyz="0.087332 0.011068 0.02"
        rpy="0 0 0" />
      <mass
        value="0.098771" />
      <inertia
        ixx="1.1825E-05"
        ixy="-7.9303E-06"
        ixz="1.3236E-19"
        iyy="0.00020074"
        iyz="2.7967E-21"
        izz="0.00020507" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_leg3_j"
    type="revolute">
    <origin
      xyz="0.02 0.044 -0.097875"
      rpy="1.5708 0.71579 3.1416" />
    <parent
      link="base_link" />
    <child
      link="L_leg3_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_leg13_link">
    <inertial>
      <origin
        xyz="-0.052267 1.6463E-15 0.042286"
        rpy="0 0 0" />
      <mass
        value="0.26413" />
      <inertia
        ixx="8.0761E-05"
        ixy="-1.0943E-17"
        ixz="-3.7828E-06"
        iyy="0.00077157"
        iyz="2.9663E-20"
        izz="0.00077516" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg13_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg13_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_leg13_j"
    type="revolute">
    <origin
      xyz="0.11865 -0.17115 -0.024"
      rpy="0 0 -1.7519" />
    <parent
      link="L_leg3_link" />
    <child
      link="L_leg13_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_leg3_link">
    <inertial>
      <origin
        xyz="0.087332 0.011068 -0.02"
        rpy="0 0 0" />
      <mass
        value="0.098771" />
      <inertia
        ixx="1.1825E-05"
        ixy="-7.9303E-06"
        ixz="8.6786E-21"
        iyy="0.00020074"
        iyz="4.4941E-21"
        izz="0.00020507" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_leg3_j"
    type="revolute">
    <origin
      xyz="0.02 -0.044 -0.097875"
      rpy="1.5708 0.71579 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="R_leg3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_leg13_link">
    <inertial>
      <origin
        xyz="-0.0522667236666869 -3.38271077815477E-16 -0.0422856505225778"
        rpy="0 0 0" />
      <mass
        value="0.2641287819222" />
      <inertia
        ixx="8.07606610309228E-05"
        ixy="7.02316882670376E-18"
        ixz="3.78275280217765E-06"
        iyy="0.000771573835287757"
        iyz="-8.77755831840644E-21"
        izz="0.000775155606049067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg13_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg13_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_leg13_j"
    type="revolute">
    <origin
      xyz="0.11865 -0.17115 0.024"
      rpy="0 0 -1.7519" />
    <parent
      link="R_leg3_link" />
    <child
      link="R_leg13_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_leg2_link">
    <inertial>
      <origin
        xyz="0.0515860704390078 -0.0121605401195324 0.0199999999999995"
        rpy="0 0 0" />
      <mass
        value="0.167812072864465" />
      <inertia
        ixx="2.9799066571997E-05"
        ixy="-1.83054843131896E-05"
        ixz="-3.88185957193567E-19"
        iyy="0.00021341303333824"
        iyz="-6.95838799970874E-20"
        izz="0.000231043613834266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_leg2_j"
    type="revolute">
    <origin
      xyz="0.057125 0.044 -0.135"
      rpy="1.5708 0.56275 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="L_leg2_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_leg12_link">
    <inertial>
      <origin
        xyz="-0.0522667236666869 1.64625257870199E-15 0.042285650522577"
        rpy="0 0 0" />
      <mass
        value="0.2641287819222" />
      <inertia
        ixx="8.07606610309237E-05"
        ixy="-1.09425447191832E-17"
        ixz="-3.78275280217784E-06"
        iyy="0.000771573835287758"
        iyz="4.13097400479347E-20"
        izz="0.000775155606049069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg12_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_leg12_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_leg12_j"
    type="revolute">
    <origin
      xyz="0.10277 -0.13603 -0.024"
      rpy="0 0 -1.905" />
    <parent
      link="L_leg2_link" />
    <child
      link="L_leg12_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_wheel_link">
    <inertial>
      <origin
        xyz="2.7756E-17 1.3878E-17 -0.013014"
        rpy="0 0 0" />
      <mass
        value="0.16004" />
      <inertia
        ixx="0.00011168"
        ixy="1.2587E-21"
        ixz="6.8979E-20"
        iyy="0.00011168"
        iyz="-3.9285E-20"
        izz="0.00019074" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/L_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_wheel_j"
    type="revolute">
    <origin
      xyz="0.006 0 0.121"
      rpy="0 0 2.4677" />
    <parent
      link="L_leg12_link" />
    <child
      link="L_wheel_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_leg2_link">
    <inertial>
      <origin
        xyz="0.0515860704390093 -0.0121605401195322 -0.0200000000000005"
        rpy="0 0 0" />
      <mass
        value="0.167812072864465" />
      <inertia
        ixx="2.9799066571997E-05"
        ixy="-1.83054843131897E-05"
        ixz="-1.98032948107606E-20"
        iyy="0.000213413033338239"
        iyz="-3.20671228905757E-20"
        izz="0.000231043613834266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_leg2_j"
    type="revolute">
    <origin
      xyz="0.057125 -0.044 -0.135"
      rpy="1.5708 0.56275 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="R_leg2_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_leg12_link">
    <inertial>
      <origin
        xyz="-0.052267 -3.3827E-16 -0.042286"
        rpy="0 0 0" />
      <mass
        value="0.26413" />
      <inertia
        ixx="8.0761E-05"
        ixy="7.0028E-18"
        ixz="3.7828E-06"
        iyy="0.00077157"
        iyz="2.2339E-21"
        izz="0.00077516" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg12_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_leg12_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_leg12_j"
    type="revolute">
    <origin
      xyz="0.10277 -0.13603 0.024"
      rpy="0 0 -1.905" />
    <parent
      link="R_leg2_link" />
    <child
      link="R_leg12_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_wheel_link">
    <inertial>
      <origin
        xyz="2.7756E-17 0 0.013014"
        rpy="0 0 0" />
      <mass
        value="0.16004" />
      <inertia
        ixx="0.00011168"
        ixy="-2.9176E-20"
        ixz="3.1413E-20"
        iyy="0.00011168"
        iyz="-3.1332E-20"
        izz="0.00019074" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/mosiwon/ws_jbbot/jumpbot/meshes/jp0720/R_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint
    name="R_wheel_j"
    type="revolute">
    <origin
      xyz="0.006 0 -0.121"
      rpy="0 0 2.4677" />
    <parent
      link="R_leg12_link" />
    <child
      link="R_wheel_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <ros>
          <namespace>/demo</namespace>
          <remapping>~/out:=imu</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>


  <gazebo>
    <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
      <ros>
        <namespace>/demo</namespace>
      </ros>

      <!-- wheels -->
      <left_joint>L_cam_j</left_joint>
      <right_joint>R_cam_j</right_joint>

      <!-- kinematics -->
      <wheel_separation>0.025</wheel_separation>
      <wheel_diameter>0.2</wheel_diameter>

      <!-- limits -->
      <max_wheel_torque>80</max_wheel_torque>
      <max_wheel_acceleration>4.0</max_wheel_acceleration>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>
  </gazebo>
</robot>